body { 
margin: 0; 
font-family: "Open Sans", sans-serif;

}

ul {
    list-style-type: none;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}


.header {
    justify-content: space-between;
    background-color: black;
    display: flex;
    padding-block: 10px;
    line-height: 10px;
    align-items: center;

}
 
.menu-btn {
    height: 40px;
    background-color: black;
}


 .logo-link {
    display: flex;
    height: 20px;
    align-items: center;
    padding-left: 5px;
 
  }

.navigation-list li {
    padding: 0 5px;
    display: inline-block;
    color:white;
    font-weight: bold;
    font-size: 14px;
    margin-right: 5px;
    margin-left: 5px;
 }


 .navigation-underline {
    position: relative;
    transition: all .25s ease;

  }

 .navigation-underline::after{
     content: "";
     background: #b88d90ef;
     height: 2px;
     width: 100%;
     position: absolute;
     bottom: -8px;
     left: 0;
     transform: scaleX(0);
     transition: all .25s ease;
 }

 .navigation-underline:hover{
    color: #ce9a9a;

}

 .navigation-underline:hover::after {
     transform: scaleX(1);
}

 .navigation-list li:last-of-type a  {
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    color: white;
    background-color: #dd3d53; 
    border-radius: 3px;
    transition: all .25s ease;
 }
 
 .navigation-list li:last-of-type a:hover {
    background-color: #c9233a;

 }


.images {
  align-items: center;
  justify-content: space-between;
  display: flex;

}

 .background-img {
   opacity: 0.8;
}

 .overlay-image1  {
        position: absolute;
        top: 200px;
        left: 40px;
        width: 80%;
        height: auto;
        opacity: 3;
 }
 .overlay-image1:hover  {
    transform: scale(1.2);
    transition: all 1s ease;
}

 .overlay-image2 {
    position: absolute;
    top: 200px;;
    left: 340px;
    width: 80%;
    height: auto;
    opacity: 3;
}
.overlay-image2:hover  {
    transform: scale(1.2);
    transition: all 1s ease;
}

.overlay-image3  {
    position: absolute;
    top: 200px;
    left: 640px;
    width: 80%;
    height: auto;
    opacity: 3;

}

.overlay-image3:hover  {
    transform: scale(1.2);
    transition: all 1s ease;
}
.overlay-image4  {
    position: absolute;
    top: 200px;
    left: 990px;
    width: 80%;
    height: auto;
    opacity: 3;

}

.overlay-image4:hover  {
    transform: scale(1.2);
    transition: all 1s ease;
    
}