body { 
margin: 0; 
font-family: "Open Sans", sans-serif;

}

ul {
    list-style-type: none;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    
    background-color: black;
    display: flex;
    justify-content space-between;
    height 50px;
    line-height 50px;
    padding-block: 10px;
}
 

 .logo-link {
    display: flex;
    height: 100%;
    align-items: unset;
    padding-left:10%;
 
  }

.navigation-list li {
    padding: 0 24px;
    display: inline-block;
    color:white;
    font-weight: bold;
    font-size: 14px;
 }


 .navigation-underline {
    position: relative;
    transition: all .25s ease;

  }

 .navigation-underline::after{
     content: "";
     background: #b88d90ef;
     height: 2px;
     width: 100%;
     position: absolute;
     bottom: -8px;
     left: 0;
     transform: scaleX(0);
     transition: all .25s ease;
 }

 .navigation-underline:hover{
    color: #ce9a9a;

}

 .navigation-underline:hover::after {
     transform: scaleX(1);
}

 .navigation-list li:last-of-type a  {
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    color: white;
    background-color: #dd3d53; 
    border-radius: 3px;
    transition: all .25s ease;
 }
 
 .navigation-list li:last-of-type a:hover {
    background-color: #c9233a;

 }
   
 



 #
{ }